/* 基本リセットと共通設定 */
body {
    font-family: '游明朝', serif;
    /* ページ全体の背景色 */
    color: #97887d;
    margin: 0;
    padding: 0;
}

/* ヘッダー */
.header {
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.header__logo {
    font-size: 28px;
    font-weight: normal;
    color: #97887d
}

