.confirm__content {
    margin: 0 auto;
    padding: 30px 15px 80px;
    max-width: 1230px;
}

.confirm__heading {
    margin-bottom: 50px;
    text-align: center;
    color: #a08c79;
    font-size: 30px;
    font-weight: 700;
}

.form {
    margin: 0 auto;
    width: 700px;
    background-color: #ffffff;
    padding: 0;
    border-radius: 8px;
}

.confirm-table {
    width: 100%;
    border: 1px solid #e0d9d3;
    border-collapse: collapse;
    margin-bottom: 0;
    overflow: hidden;
}

.confirm-table__inner {
    width: 100%;
    table-layout: fixed;
}

.confirm-table__row {
    border-bottom: 1px solid #e0d9d3;
}

.confirm-table__inner .confirm-table__row:last-child {
    border-bottom: none;
}

.confirm-table__header {
    width: 35%;
    padding: 15px 20px;
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    background-color: #d8c3b1;
    color: #4a413c;
}

.confirm-table__text {
    width: 65%;
    padding: 15px 20px;
    text-align: left;
    background-color: #ffffff;
    font-size: 16px;
    color: #333333;
    vertical-align: top;
}

.confirm-value {
    display: block;
    word-break: break-all;
}

.confirm-value-multiline {
    display: block;
    white-space: pre-wrap;
}

.form__button {
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.form__button-submit {
    padding: 10px 20px;
    width: 100px;
    height: 40px;
    border: none;
    background: #6e6459;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form__button-submit:hover {
    background: #4a413c;
}

.form__button-back {
    padding: 10px 20px;
    width: 100px;
    height: 40px;
    color: #6e6459;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
}

.form__button-back:hover {
    color: #4a413c;
}



